body {
  padding: 1rem;
}

main .wrapper {
  width: 100%;
  margin: 0 auto;
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      position: relative;
      margin: .5rem;
      // width: calc(48% - 1rem);
      width: 100%;
      overflow: hidden;
      p {
        padding-left: .3rem;
      }
      div {
        img {
          width: 1rem;
        }
      }
      .thisImage {
        width: 100%;
      }
    }
  }
}
.popUp {
}
.userName,
.imgLikes {
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: .5rem;
}
.imgLikes {
  padding-top: 1rem;
}
.show {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  width: 100%;
  padding: 1rem 0 1rem 0;
  transition: .5s ease;
  bottom: -7rem;
}
.showCats:hover .show {
  bottom: 3px;
}
@media (min-width: 500px) {
  main  .wrapper  ul  li {
    width: calc(48% - 1rem);
  }
  .thisImage {
    object-fit: cover;
    // width: 200px;
    height: 220px;
  }
}
@media (min-width: 700px) {
  main  .wrapper {
    ul  li {
      width: calc(33.3% - 1rem);
    }
  }
  .thisImage {
    object-fit: cover;
    // width: 200px;
    height: 300px;
  }
}
@media (min-width: 1024px) {
  main  .wrapper {
    width: 900px;
    margin: 0 auto;
    ul  li {
      width: calc(33.3% - 1rem);
    }
  }
  .thisImage {
    object-fit: cover;
    // width: 200px;
    height: 300px;
  }
}
