body {
  padding: 1rem;
}

main .wrapper {
  width: 100%;
  background-color: grey;
  margin: 0 auto;
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      position: relative;
      margin: .5rem;
      width: 100%;
      overflow: hidden;
      p {
        padding-left: .3rem;
      }
      div {
        img {
          width: 1rem;
        }
      }
      .thisImage {
        width: 100%;
      }
    }
  }
}
.popUp {
}
.userName,
.imgLikes {
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: .5rem;
}
.imgLikes {
  padding-top: 1rem;
}
.show {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  width: 100%;
  padding: 1rem 0 1rem 0;
  transition: .5s ease;
  bottom: -5rem;
}
.showCats:hover .show {
  bottom: 3px;
}
@media (min-width: 500px) {
  // ul {
  //   flex-direction: row;
  // }
}
