header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  h1 {
    margin: 1rem;
    font-size: 1.5rem;
    order: 2;
  }
  img {
    margin-top: 2rem;
    width: 10%;
    order: 1;
  }
  p {
    color: #6a6a6a;
    order: 3;
  }
}
